services:
  hms-frontend:
    image: ${IMAGE_NAME}
    volumes:
      - /home/ubuntu/.env:/app/.env
    networks:
      - traefik_public
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      labels:
        - 'traefik.enable=true'
        - 'traefik.http.routers.hms-frontend.rule=Host(`payment-staging.medicate.health`)'
        - 'traefik.http.routers.hms-frontend.entrypoints=websecure'
        - 'traefik.http.routers.hms-frontend.tls.certresolver=myresolver'
        - 'traefik.http.services.hms-frontend.loadbalancer.server.port=3000'
        - 'traefik.http.routers.hms-frontend.service=hms-frontend'

networks:
  traefik_public:
    external: true
